<p style="color: green"><%= notice %></p>
<h1>Records for u tags:</h1>

<% if @tag %>
  <h2><%= @tag.name %></h2>
<% else %>
  <h2>All Records</h2>
<% end %>

<div class="album py-5 bg-body-tertiary">
  <div class="container ">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

      <% @records.each do |record| %>
        <%= render record %>
      <% end %>

    </div>
  </div>
</div>